    body {
        background-color: rgb(174, 216, 237);

    }

    
    h1 {
    font-size: 2.5em;
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;
    background-color: rgb(0, 0, 0);
    text-align: center;
    margin-bottom: 25px;
    }
    
    h2 {
    font-size: 2.0em;
    font-family: Arial, Helvetica, sans-serif;
    color: #333333;
    text-align: center;
    margin-bottom: 25px;
}

p {
    font-size: 1.0em;
    font-weight: 100;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
    color: #000000;
    margin-bottom: 20px;
    text-align: center
}

h3 {
    font-size: 2.0em;
    font-family: Arial, Helvetica, sans-serif;
    color: #ff0000;
    text-align: center;
    margin-bottom: 25px;
}
a {
    display: block;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.0em;
    line-height: 1.2;
    color: #c30078;
    text-align:center;
    margin-bottom : 20px;
}
a:hover {
    text-decoration: underline;
}
.center {
  margin: auto;
  width: 50%;
  border: 3px solid green;
  padding: 10px;
}
img {
  display: block;
  margin: auto;
  width: 75%;
}